<h1>New Photo</h1>

<%= form_with(model: @photo, url: photos_path, local: true) do |form| %>
  <div>
    <%= form.label :filename %>
    <%= form.text_field :filename %>
  </div>

  <div>
    <%= form.label :tags %>
    <%= form.text_field :tags %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :upload_time %>
    <%= form.datetime_field :upload_time %>
  </div>

  <div>
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div>
    <%= form.submit "Upload" %>
  </div>
<% end %>
