<h1>New Photo</h1>

<%= form_with(model: @photo, url: photos_path, multipart: true) do |form| %>
  <div>
    <%= form.label :filename %>
    <%= form.text_field :filename %>
  </div>

  <div>
    <%= form.label :tags %>
    <%= form.text_field :tags %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :image_data %>
    <%= form.file_field :image_data %>
  </div>

  <div>
    <%= form.submit "Upload" %>
  </div>
<% end %>
